<div id="<%= dom_id album %>">
  <p>
    <strong>Name:</strong>
    <%= album.name %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= album.release_year %>
  </p>

  <p>
    <strong>Band:</strong>
    <%= link_to album.band.name, band_path(album.band) %>
  </p>

</div>
