<div id="<%= dom_id album %>">
  <p>
    <strong>Name:</strong>
    <%= album.name %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= album.release_year %>
  </p>

  <p>
    <strong>Band:</strong>
    <%= album.band_id %>
  </p>

</div>
